<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="fullElements">
      <thead>
        <tr class="listTittle">
          <th>Nombre del Convenio</th>
          <th>Tipo de Convenio</th>
          <th>Vigencia</th>
          <th>Año de Firma</th>
          <th>Tipo de Firma</th>
        </tr>
      </thead>
      <tbody >
        <tr  (click)="openModal(i)" class="listElements" *ngFor="let convenio of convenios; let i = index">
          <td>{{ convenio.Nombre_Convenio }}</td>
          <td>{{ convenio.Tipo_Convenio }}</td>
          <td>{{ convenio.Vigencia }}</td>
          <td>{{ convenio.Ano_Firma }}</td>
          <td>{{ convenio.Tipo_Firma }}</td>
        </tr>
      </tbody>
    </table>
</body>
</html>