<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="header">
        <img (click)="goMainPage()" id ='logo' src="../../../assets/LOGO_ORI2.png" width="150" alt="Logo de ORI">
        <input type="text" name="search" placeholder="Buscar por universidad, tipo de convenio, etc">
        <img src="../../../assets/BUSCADOR.png" alt="search">
        <button (click)="goinAddCon()" type="button" >+CONVENIO</button>
        <img src="../../../assets/PERFIL.png" alt="search">
    </nav>
</body>
</html>