<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <nav id="Imagen">
            <img src="../../../assets/LOGO_ORI.png" alt="Logo Ori">
         </nav>     
    </div>
    <div class="contenedor">
        <br>
        <nav id="cuadroLogin">
            <h1 style="font-size: 30px;">Ingresar</h1>
            <nav id="inputs">
                <br><br><br>
                <input type="text" class="fname" name="fname" placeholder="Usuario"><br><br>
                <br><br><br>
                <input type="text" class="fname" name="fname" placeholder="Contraseña"><br><br>
                <br><br>
                <button (click)="Login()" type="button">Iniciar Sesión</button>
                <br><br>
            </nav>
        </nav>

    </div>
    
</body>
</html>