<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span (click)="closeDialog()" class="close">&times;</span>
      <h2  *ngIf="mostrarEnPantalla">{{ mostrarEnPantalla.Nombre_Convenio }}</h2>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="mostrarEnPantalla">
        <h3>Nombre de convenio: {{ mostrarEnPantalla.Nombre_Convenio }} </h3>
        <h3>Nombre de convenio: {{ mostrarEnPantalla.Tipo_Convenio }} </h3>
        <h3>Nombre de convenio: {{ mostrarEnPantalla.Vigencia }} </h3>
        <h3>Nombre de convenio: {{ mostrarEnPantalla.Ano_Firma }} </h3>
        <h3>Nombre de convenio: {{ mostrarEnPantalla.Tipo_Firma }} </h3>
        <h3>Nombre de convenio: {{ mostrarEnPantalla.cupos }} </h3>
        <h3>Nombre de convenio: {{ mostrarEnPantalla.documentos }} </h3>
        
      </ng-container>
    </div>
  </div>
</div>


<!--

              "ID": convenio[0],
            "NOMBRE_CONV": convenio[1],
            "TIPO_CONV": convenio[2],
            "VIGENCIA": convenio[3],
            "ANO_FIRMA": convenio[4],
            "TIPO_FIRMA": convenio[5],
            "CUPOS": convenio[6],
            "DOCUMENTOS": convenio[7]
-->