body {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
 /* Esto asegura que el cuerpo ocupe toda la altura de la ventana */
}

.fullElements {

    text-align: center; /* Esto centra el texto dentro de los elementos */
    padding: 20px; /* Ajusta el espacio alrededor del contenedor */
    border-collapse: collapse;
}

.listTittle th {
    padding-inline: 100px; /* Ajusta el espacio alrededor de las celdas del encabezado */
}

.listElements td {
    padding-inline: 100px; /* Ajusta el espacio alrededor de las celdas de datos */

}


th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #253e85;}


.listElements:hover:hover {
    background-color: #253e85;
    color: aliceblue;
}