<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="fullElements">
      <thead>
        <tr class="listTittle">
          <th>Nombre del Convenio</th>
          <th>Tipo de Convenio</th>
          <th>Vigencia</th>
          <th>Año de Firma</th>
          <th>Tipo de Firma</th>
        </tr>
      </thead>
      <tbody >
        <tr  (click)="openModal(i)" class="listElements" *ngFor="let convenio of convenios; let i = index">
          <td>{{ convenio.NOMBRE_CONV }}</td>
          <td>{{ convenio.TIPO_CONV }}</td>
          <td>{{ convenio.VIGENCIA }}</td>
          <td>{{ convenio.ANO_FIRMA }}</td>
          <td>{{ convenio.TIPO_FIRMA }}</td>
        </tr>
      </tbody>
    </table>

    

</body>
</html>