<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Convenio</title>
</head>
<body>
    <div>
        <app-header></app-header>
    </div>
    
    <div>
        <form class="ingreso" (ngSubmit)="addConvenio(formContact)" #formContact = "ngForm" >

            <label for="nombreInstitucion">Nombre de institucion </label>
            <input type="text" name="nombre" [(ngModel)]="formulario.nombreInstitucion" required #name="ngModel">

            <label for="unidadAcademica">Unidad academica </label>
            <input type="text" name="unidadAcademica" [(ngModel)]="formulario.unidadAcademica"  required  #unidadAcademica="ngModel">


            <label for="pais">País</label>
            <input type="text" name="pais" [(ngModel)]="formulario.pais"  required  #pais="ngModel">

            <label for="alcance">Alcance </label>
            <input type="text" name="alcance" [(ngModel)]="formulario.alcance" required  #alcance="ngModel">

            <label for="tipoInstitucion">Tipo de Institución</label>
            <input type="text" name="tipoInstitucion" [(ngModel)]="formulario.tipoInstitucion" required  #tipoInstitucion="ngModel">
    
            <label for="nombreConvenio">Nombre del Convenio</label>
            <input type="text" name="nombreConvenio" [(ngModel)]="formulario.nombreConvenio" required  #nombreConvenio="ngModel">
    
            <label for="tipoConvenio">Tipo de Convenio</label>
            <input type="text" name="tipoConvenio" [(ngModel)]="formulario.tipoConvenio" required  #tipoConvenio="ngModel">
    
            <label for="tipoFirma">Tipo de Firma</label>
            <input type="text" name="tipoFirma" [(ngModel)]="formulario.tipoFirma" required  #tipoFirma="ngModel">
    
            <label for="cupos">Cupos</label>
            <input type="text" name="cupos" [(ngModel)]="formulario.cupos" required  #cupos="ngModel">
    
            <label for="documentos">Documentos</label>
            <input type="text" name="documentos" [(ngModel)]="formulario.documentos" required  #documentos="ngModel"><br><br>


            <label  for="vigencia">Vigencia</label>
            <input type="date" name="vigencia" [(ngModel)]="formulario.vigencia" required  #vigencia="ngModel"> 
    
            <label class="Fechas" for="anoFirma">Año de Firma</label>
            <input type="date" name="anoFirma" [(ngModel)]="formulario.anoFirma"  required #anoFirma="ngModel"><br><br>


            <button type="submit">AGREGAR</button>
        </form>
    </div>


</body>
</html>



<!--

            <label for="pais">País</label>
            <input type="text" name="pais" [(ngModel)]="formulario.pais"  required  #pais="ngModel">

            <label for="alcance">Alcance </label>
            <input type="text" name="alcance" [(ngModel)]="formulario.alcance" required  #alcance="ngModel">

            <label for="tipoInstitucion">Tipo de Institución</label>
            <input type="text" name="tipoInstitucion" [(ngModel)]="formulario.tipoInstitucion" required  #tipoInstitucion="ngModel">
    
            <label for="nombreConvenio">Nombre del Convenio</label>
            <input type="text" name="nombreConvenio" [(ngModel)]="formulario.nombreConvenio" required  #nombreConvenio="ngModel">
    
            <label for="tipoConvenio">Tipo de Convenio</label>
            <input type="text" name="tipoConvenio" [(ngModel)]="formulario.tipoConvenio" required  #tipoConvenio="ngModel">
    
            <label for="tipoFirma">Tipo de Firma</label>
            <input type="text" name="tipoFirma" [(ngModel)]="formulario.tipoFirma" required  #tipoFirma="ngModel">
    
            <label for="cupos">Cupos</label>
            <input type="text" name="cupos" [(ngModel)]="formulario.cupos" required  #cupos="ngModel">
    
            <label for="documentos">Documentos</label>
            <input type="text" name="documentos" [(ngModel)]="formulario.documentos" required  #documentos="ngModel"><br><br>


            <label class="Fechas" for="vigencia">Vigencia</label>
            <input type="date" name="vigencia" [(ngModel)]="formulario.vigencia" required  #vigencia="ngModel"> 
    
            <label class="Fechas" for="anoFirma">Año de Firma</label>
            <input type="date" name="anoFirma" [(ngModel)]="formulario.anoFirma"  required #anoFirma="ngModel"><br><br>


-->