<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Convenio</title>
</head>
<body>
    <div>
        <app-header></app-header>
    </div>
<!--<form class="ingreso" [formGroup]="convenioForm" (ngSubmit)="addConvenio()">
        
        <label for="nombreInstitucion">Nombre de la Institución</label>
        <input type="text" id="nombreInstitucion" formControlName="nombreInstitucion">

        <label for="unidadAcademica">Unidad Académica</label>
        <input type="text" id="unidadAcademica" formControlName="unidadAcademica">

        <label for="pais">País</label>
        <input type="text" id="pais" formControlName="pais">

        <label for="alcance">Alcance</label>
        <input type="text" id="alcance" formControlName="alcance">

        <label for="tipoInstitucion">Tipo de Institución</label>
        <input type="text" id="tipoInstitucion" formControlName="tipoInstitucion">

        <label for="nombreConvenio">Nombre del Convenio</label>
        <input type="text" id="nombreConvenio" formControlName="nombreConvenio">

        <label for="tipoConvenio">Tipo de Convenio</label>
        <input type="text" id="tipoConvenio" formControlName="tipoConvenio">

        <label for="vigencia">Vigencia</label>
        <input type="text" id="vigencia" formControlName="vigencia">

        <label for="anoFirma">Año de Firma</label>
        <input type="text" id="anoFirma" formControlName="anoFirma">

        <label for="tipoFirma">Tipo de Firma</label>
        <input type="text" id="tipoFirma" formControlName="tipoFirma">

        <label for="cupos">Cupos</label>
        <input type="text" id="cupos" formControlName="cupos">

        <label for="documentos">Documentos</label>
        <input type="text" id="documentos" formControlName="documentos">

        <button type="submit">Enviar</button>
    </form>
    -->
    
    <br>
    <nav class="boton">            
        <button (click)="addConvenio()" type="button">AGREGAR</button>
        <button (click)="addConvenio()" type="button">VOLVER</button>
    </nav>
</body>
</html>
