input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.ingreso{
    padding-top: 50px;
    margin: 0 auto; /* Esto centrará el formulario horizontalmente */
    text-align:start; /* Esto centrará el contenido del formulario */
    width: 1500px;
}

.boton{
    padding-top: 50px;
    margin: 0 auto; /* Esto centrará el formulario horizontalmente */
    text-align:start; /* Esto centrará el contenido del formulario */
    width: 1500px;


}

button{
    text-align:start;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: #253e85;
    border-color: #253e85;
    border-radius: 5cm;
    color: white;
    padding: 16px 32px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  
button:hover {
    background-color: white ;
    color:#253e85;
}


.volverButton{
    padding-right: 10px;
}


.Fechas{
    padding-left: 100px;
}